<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-12">
		  <p>&copy 2023 IDS Lab. Hankuk University of Foreign Studies
		</div>
		
		<div class="col-sm-12">
		  Engineering building 511, Hankuk University of Foreign Studies Yongin, South Korea 
          <a href="https://goo.gl/maps/WHVPDydJ4emkVDvN8">Maps</a> <br />
		  Call. +82-31-430-4363
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
